@using Client.Models
@model IEnumerable<Category>


<div class="bg-primary m-1 p-1 text-white">
    <h4>Prod</h4>
    <ul>
        @foreach (Category c in Model)
        {
            <li>@c.CategoryName - @c.Description</li>
        }
    </ul>
</div>