@using Client.Models

@{
    ViewBag.Title = "Home";
}

<!-- container -->
<div class="container-fluid">
    <!-- jumbotron -->
    <div class="jumbotron mb-0">
        <h1 class="display-4 logo">Northwind</h1>
        <p class="lead ml-4">Welcome to Northwind</p>
    </div>
    <!-- grid -->
    <div class="row">
        <div class="col-md m-3 p-3 discounts">
            <h3>Tis the seasoning</h3>
            <div class="mb-4">
                Order today! Save 12.5% on Chef Anton's Italian Seasoning.
                You don't want to make Chef Anton mad, do you?
            </div>
            <i>Discount expires: 2/25/2019</i><br />
            <a href="#" class="code" data-code="A4D93" data-product="Chef Anton's Italian Seasoning"><i class="far fa-hand-point-right"></i> Discount Code</a>
        </div>
        <div class="col-md m-3 p-3 discounts">
            <h3>Go Green</h3>
            <div class="mb-4">
                Grene Shouyu goes on sale very rarely.
                Order now to save 10% on our already low price.
            </div>
            <i>Discount expires: 2/25/2020</i><br />
            <a href="#" class="code" data-code="d7D8EG" data-product="Grene Shouyu"><i class="far fa-hand-point-right"></i> Discount Code</a>
        </div>
        <div class="col-md m-3 p-3 discounts">
            <h3>Half price</h3>
            <div class="mb-4">
                Just because you can&apos;t pronounce "Schoggi Schokolade"
                doesn&apos;t mean you shouldn&apos;t buy it. Get it 50% off!
            </div>
            <i>Discount expires: 2/25/2020</i><br />
            <a href="#" class="code" data-code="F8EE8L" data-product="Schoggi Schokolade"><i class="far fa-hand-point-right"></i> Discount Code</a>
        </div>
    </div>
